# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de cache
.cache/
.tmp/

# Diretórios de build
dist/
build/

# Diretórios de IDEs/editores
.vscode/
.idea/
*.sublime-workspace

# Arquivos de sistema
.DS_Store
Thumbs.db

# Cobertura de testes
coverage/

# Arquivos de configuração de depuração
*.local

# Arquivos de configuração de banco de dados
database.sqlite
*.sqlite3

# Arquivos de configuração de Docker
docker-compose.override.yml

# Arquivos de configuração de CI/CD
.circleci/
.github/
.gitlab-ci.yml

# Arquivos de configuração de serviços de nuvem
.firebase/
.netlify/
.vercel/

# Arquivos de configuração de ferramentas de linting
.eslintcache
.stylelintcache

# Arquivos de configuração de ferramentas de formatação
.prettierignore
.prettierrc
.prettierrc.js
.prettierrc.json
.prettierrc.yaml
.prettierrc.yml
.prettierrc.toml

# Arquivos de configuração de ferramentas de testes
.jest/
.jest-cache/
.jest-test-results.json